@import  '../../node_modules/normalize.css/normalize' ;
@import  'variables-dark';
@import  'typography';
@import  'blockquotes' ;
@import  'code' ;
@import 'technologies';
@import 'technology';
@import  'report' ;
@import  'analysis' ;
@import  'gallery' ;

body {
    background-color: #567;
}

* {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans' , sans-serif;
}

* {
    color: $font-color;
}


.colors {
    h3 {
        background-color: #362a52;
    }
}

.load {
    h3 {
        background-color: #362a52;
    }
}

.design {
    h3 {
        background-color: #362a52;
    }
}

.excelsheet {
    width: 100%;
    height: 700px;
}
