@import  'normalize_font';
@import  'variables';
@import  'base';
@import  'header.scss';
@import  'footer.scss';
@import  'typography';
@import  'blockquotes' ;
@import  'code' ;
@import 'technologies';
@import 'technology';
@import  'report';
@import  'analysis';
@import  'gallery';
@import  'video';
@import 'frame';

.colors {
    h3 {
        background-color: #ffbb45;
    }
}

.load {
    h3 {
        background-color: #ffbb45;
    }
}

.design {
    h3 {
        background-color: #ffbb45;
    }
}

.excelsheet {
    width: 100%;
    height: 700px;
}
